/* Based on:
 * https://github.com/TheFrankyDoll/win10-style-waybar */

/* base background color*/
@define-color bg_main rgba(25, 25, 25, 0.65);
@define-color bg_main_tooltip rgba(0, 0, 0, 0.7);

/* base background color of selections */
@define-color bg_hover rgba(200, 200, 200, 0.3);
/* base background color of active elements */
@define-color bg_active rgba(100, 100, 100, 0.5);

/* base border color*/
@define-color border_main rgba(255, 255, 255, 0.2);

/* text color for entries, views and content in general */
@define-color content_main white;
/* text color for entries that are unselected */
@define-color content_inactive rgba(255, 255, 255, 0.25);

* {
  text-shadow: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  font-family: "Inter", "sans";
  font-weight: 600;
  font-size: 12.7px;
}

window#waybar {
  background: @bg_main;
  border-top: 1px solid @border_main;
  color: @content_main;
  padding: 3px 12px;
}

tooltip {
  background: @bg_main_tooltip;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: @border_main;
}
tooltip label {
  color: @content_main;
}

#custom-os-button {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 26px;
  padding-left: 18px;
  padding-right: 28px;
  margin-bottom: -1px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#custom-os-button:hover {
  color: @content_main;
}

#workspaces {
  color: transparent;
  margin-right: 1.5px;
  margin-left: 1.5px;
}
#workspaces button {
  padding: 12px 12px 12px 8px;
  color: @content_inactive;
}
#workspaces button > * {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);

  padding: 0 8px;
  margin-top: 4px;
  margin-bottom: -2px;
  border-radius: 1px;
  box-shadow: 4px -4px 0 0 rgba(255, 255, 255, 0.75);
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#workspaces button.urgent {
  background: rgba(255, 200, 0, 0.35);
  color: @warning_color;
}
#workspaces button:hover > * {
  color: black;
  background: white;
  box-shadow: 4px -4px 0 0 rgba(255, 255, 255, 0.25);
}

#taskbar {
}

#taskbar button {
  min-width: 130px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#taskbar button.active {
  border-bottom: 3px solid white;
  background: @bg_active;
}

#taskbar button:hover {
  border-bottom: 3px solid white;
  background: @bg_hover;
  color: @content_main;
}

#temperature {
  color: transparent;
  font-size: 0px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#temperature.critical {
  padding-right: 3px;
  color: @warning_color;
  font-size: initial;
  border-bottom: 3px dashed @warning_color;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#window {
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#tray {
  margin: 3px 12px 0;
}
#tray > .needs-attention {
  border-bottom: 3px solid @warning_color;
}

#pulseaudio {
  padding: 3px 12px 0 4px;
  font-family: "JetBrainsMono Nerd Font";
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-size: 14px;
}

#cpu,
#disk,
#memory {
  padding: 3px 8px 0;
  font-size: 14px;
  font-weight: 200;
  font-family: "JetBrainsMono", monospace;
}

#network {
  padding: 4px 2px 0;
  font-size: 18px;
}

#clock {
  padding: 0 12px 0 4px;
  font-size: 11.7px;
  font-weight: 400;
  font-family: "JetBrainsMono", monospace;
}
